@import '../../..//node_modules/bootstrap/scss/functions';
@import '../../..//node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/buttons.scss';

.change-password-container {
  .form-row {
    margin-bottom: 1.5rem;
    text-align: center;
    .password-input-container {
      position: relative;
      width: 400px;
      margin: 0 auto;
    }
    .save-password-button {
      margin-top: 1rem;
      font-size: 1.5rem;
      @extend .btn;
      @extend .btn-primary;
    }
  }
}
