@import '../../..//node_modules/bootstrap/scss/functions';
@import '../../..//node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/buttons.scss';

.change-password-container {
  .password-input-container {
    position: relative;
    width: 400px;
    margin: 0 auto;
  }
  .form-row {
    margin: 0 auto;
    text-align: center;
    .save-password-button {
      margin-top: 1rem;
      font-size: 1.5rem;
      @extend .btn;
      @extend .btn-primary;
    }
  }
}
