@import '../../shared/scss/buttons';
@import '../../shared/scss/grid';
@import '../../shared/scss/card';

.container {
  display: grid;
  width: 100%;
  .content {
    margin-left: 1rem;
    .create-post-link {
      text-align: center;
      margin-bottom: 1.5rem;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    .post-container {
      @include grid-columns-different-widths(80px 500px);
      .vote-container {
        @include grid-columns-same-width(2, 1.5rem, 20px);
      }
      .post-content {
        @include card();
        .post-title {
          @include card-title();
          .post-link {
            color: #000;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    .button {
      display: grid;
      width: 100%;
      .load-more-button {
        @include button;
        @include primary-button;
        align-items: center;
        width: 25%;
        margin-bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
