.container {
  display: grid;
  width: 100%;
  .content {
    margin-left: 1rem;
    .create-post-link {
      text-align: center;
      margin-bottom: 1.5rem;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    .card {
      margin-bottom: 1.5rem;
    }
  }
}
