@import '../../shared/scss/grid';

.updoot-container {
  @include grid-columns-same-width(1, 1rem, 100px);
  align-items: center;
  justify-content: center;
  text-align: center;
  .icon {
    cursor: pointer;
  }
}
