@import '../../shared/scss/buttons';

header {
  display: grid;
  width: 100%;
  justify-content: end;
  background-color: #fe9d04;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  .header-content {
    display: grid;
    gap: 20px;
    /* the following rule has no effect, as this element isn't a grid-item: */
    grid-column: span 2;

    &.create-post {
      grid-template-columns: repeat(3, 1fr);
    }

    /* to create a two-column grid layout, we use the following: */
    grid-template-columns: repeat(2, 1fr);

    .create-post-link {
      margin-top: 0.75rem;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }

    .logout-button {
      @include link-button;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .username {
      padding-top: 0.7rem;
    }
  }
}
