@import '../../shared/scss/buttons';

header {
  display: grid;
  width: 100%;
  background-color: #fe9d04;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  .navigation-content {
    display: grid;
    height: 70px;
    clear: both;
    width: 100%;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    .heading {
      h1 {
        align-items: start;
        justify-content: start;
        text-align: left;
        margin-left: 1rem;
      }
    }
    .navbar-content {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      align-items: baseline;
      text-align: right;
      .navbar-links {
        display: grid;
        margin-top: 1.9rem;
        align-items: baseline;
        justify-content: end;
        width: 100%;
        .navbar-link-content {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 1rem;
          width: 200px;
          align-items: end;
          justify-content: end;
          .logout-button {
            @include link-button;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
