@import '../../..//node_modules/bootstrap/scss/functions';
@import '../../..//node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/buttons.scss';

header {
  display: grid;
  width: 100%;
  justify-content: end;
  background-color: #fe9d04;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  .header-content {
    display: grid;
    gap: 20px;
    /* the following rule has no effect, as this element isn't a grid-item: */
    grid-column: span 2;

    /* to create a two-column grid layout, we use the following: */
    grid-template-columns: repeat(2, 1fr);

    .logout-button {
      @extend .btn;
      @extend .btn-link;
      &:hover {
        text-decoration: none;
      }
    }
    .username {
      padding-top: 0.7rem;
    }
  }
}
