@import '../../shared/scss/buttons';

.create-post-container {
  h1 {
    text-align: center;
  }
  .form-row {
    margin-bottom: 1.5rem;
    text-align: center;

    .textarea {
      height: 300px;
      width: 400px;
    }

    .button {
      font-size: 1.5rem;
      margin: 0 auto;
      @include button;
      @include primary-button;
    }
  }
}
